<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>

  <div class="table-responsive" ng-controller="DashboardCtrl">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th># Pending jobs</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in jobs">
          <td>
            <a ng-href="#/jobs/{{job.name}}">
              <code>{{ job.name }}</code>  
            </a>      
          </td>
          <td>{{ job.pending }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>