<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Tasks for <code>{{job}}</code></h1>

  <div class="table-responsive" ng-controller="JobDetailCtrl">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th># Pending tasks</th>
          <th># working tasks</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in tasks">
          <td><code>{{ task.name }}</code></td>
          <td>{{ task.pending }}</td>
          <td>{{ task.working }}</td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>